*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.black {
    background-color: #3C3C3C;
    height: 40vh;
    width: auto;
    text-align: center;
    line-height: 650px;
}

.white{
    text-align: center;
    line-height: 250px;
}

.izaan{
    font-size: 200px;
    color: #FFF;
}

.qaiser{
    font-size: 200px;
    color:#3C3C3C
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.nav{
    background: #3C3C3C;
    display: flex;
    justify-content: space-between;
    height: 10%;
    width: auto;
    padding: 1%;
    line-height: 60px;
}

.nav li{
    display: inline;
    padding: 20px;
    text-decoration: none;
    
}

.name{
    margin-left: 10px;
    font-size: 2.5vh;
    color: blanchedalmond;
}

.nav li a:link {
    text-decoration: none;
    color: #FFF;
    font-size: 2.5vh;
}

.nav li a:hover{
    color: blanchedalmond;
}

.ting {
    text-align: center;
}

.ls {
    background-color: #807080;
}

.rs {
    background-color: #3C3C3C;
    margin-top: 8%;
    width: 40%;
    height: 60vh;
    margin-left: 40px;
}

.ls {
    display: inline-block;
    vertical-align: middle;
    margin-top: 8%;
    width: 40%;
    height: 60vh;
    border-radius: 20px;
}

.rs {
    display: inline-block;
    vertical-align: middle;
}
