*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.black {
    background-color: #3C3C3C;
    height: 50vh;
    width: auto;
    text-align: center;
    line-height: 850px;
}

.white{
    text-align: center;
    line-height: 250px;
}

.izaan{
    font-size: 200px;
    color: #FFF;
}

.qaiser{
    font-size: 200px;
    color:#3C3C3C
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
